<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>内容</title>
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint|PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/uikit.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/uikit-rtl.min.css" %}">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>
</head>
<body>
<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-logo">
            <a href="/blog?page=1" class="logo">Marvin</a>
        </div>
        <menu class="sidebar-menu">
            <li class="menu-items"><a class="menu-links" href="/blog?page=1">主页</a></li>
            <li class="menu-items"><a class="menu-links" href="/blog/about">关于</a></li>
            <li class="menu-items"><a class="menu-links" href="/blog/contact">联系</a></li>
            <li class="menu-items"><a class="menu-links" href="https://github.com/mapuwen123">Github</a></li>
            {#            <li class="menu-items"><a class="menu-links"#}
            {#                                      href="https://github.com/artemsheludko/fresh/archive/master.zip">Download</a></li>#}
        </menu>

        <div class="sidebar-social">
            Copyright ©2017 Marvin Powered By Marvin Version 1.0.0
        </div>

    </div>
</aside>
<main role="main">
    <div class="content">
        <article class="page-article">
            <div class="wrap-content">
                <header class="page-header">
                    <h1 class="page-title">{{ article.title }}</h1>
                    <div class="page-date"><span>{{ article.date }}</span></div>
                </header>
                {% if article.picture %}
                    <img class="post-image" src="/media/{{ article.picture }}">
                {% endif %}
                <div style="display:none;">
                    <textarea name="editor_id" class="ckeditor" name="content" style="width:700px;height:300px;">
{{ content.content }}
</textarea>
                </div>

                <div id="show" class="page-content">
                </div>

            </div>
        </article>

    </div>
</main>
<script charset="utf-8" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>
    CKEDITOR.replace('editor_id');
    var html = CKEDITOR.instances.editor_id.getData();
    $('#show').html(html)
</script>
</body>
</html>